[Desktop Entry]
Name=DbGate
Comment=Smart database manager
Exec=dbgate %U
Icon=dbgate
Terminal=false
Type=Application
Categories=Development;Database;
StartupNotify=true